<div class="buscador">
  <input class="box-buscador" type="text" placeholder="Buscar películas o series">
</div>

<div class="Tab">
  <ul class="menuTab">
    <li><button class="button" (click)="setSelectedCategory('todos')">Todos</button></li>
    <li><button class="button" (click)="setSelectedCategory('peliculas')">Peliculas</button></li>
    <li><button class="button" (click)="setSelectedCategory('series')">Series</button></li>
  </ul>
</div>

<div class="card">
  <img [src]="item.urlImg" alt="{{ item.name }}">
  <h2>{{ item.name }}</h2>
  <p>{{ item.description }}</p>
  <p>Puntuación: {{ item.point }}</p>
  <p>Categoría: {{ item.category }}</p>
</div>

