<header class="header-principal">
    <div class="logo"></div>
    <nav class="nav-menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Películas</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Ingresar</a></li>
        </ul>
    </nav>
</header>

<div class="titulo">
  <h1>PelisUp!</h1>
  <p class="subtitulo">Plataforma para ver series y peliculas.</p>
</div>

<div class="buscador">
  <input type="text" placeholder="Escribe algo...">
</div>
