.footer {
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}
 
.redes-sociales a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
    font-size: 12px; 
}

.footer-texto {
    font-size: 24px; 
}